<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title> About me page </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='template.css') }}">
        <link rel="stylesheet" type = "text/css" href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans">
    </head>
    
    <style>
        body { color:#222222; font-size: 1em; font-family:"Open Sans", "Helvetica Neue", sans-serif;}
        
        
        
    </style>
    
<header class = "masthead">
    <p class = "masthead-intro">Hi, I'm</p>
    <h1 class = "masthead-heading">DOM</h1>
</header>

<section class = "introduction-section">
    <h1>Introduction</h1>
    <p>
        I am a pretty outgoing type of person that really enjoys an adventure.
        I have done quite a bit of travel in my time, but there is always new
        places to go and see. So where to next? Mexio, Japan!
    </p>
    
    <p>
        I love to learn, stay fit physically and mentally.
        I don't want to waste my time on things that are superfluous.
    </p>
    
    </section>
    
    
<section class = "location-section">
    <h1> Where I'm, From</h1>
    <p>
        I was born in Melbourne, Victoria. My parents are originally from Europe.
        They migrated to Australia and Melbourne reminded them too much of the cold weather in Europe.
        So they decided to move to Brisbane, which is much warmer and I spent most of my childhood here.
        I have since lived in Canada, Melbourne and more recently Sydney.
        Brisbane is a really nice city to live in. Nice and warm :-)
    </p>
    </section>
    
    
<section class = "questions-section">
    <h1> More About Me</h1>
    <h2> What are your favourite hobbies</h2>
    <p>
        I really love camping and adventures. Last year I walked 200km of the Camino in Spain.
        What an amazing experience. I find camping is one of the best ways to disconnect from
        a very busy world.
    </p>
    
    <h2> What's your dream job? </h3>
    <p>
        I have been working in finance for 5/6 years now. I really think that there is a huge opportunity
        to automate a number of processes. I find most the time in finance you are extracting and loading data.
        You spend very little time actually analysing it. So a role that automates financial processes like RPA
        would be very interesting for me. It combines finance + coding 
        </p>
    
    <h2> What's your background? </h4>
    <p>
        I originally started in advertising. I didn;t really enjoy it that much so moved to finance.
        I have been in finance for 5/6 years, ina combination of statutory and analyst roles.
        </p>    
    
    <h2> What music have you been listening to lately? </h5>
    <p>
        I am listening to the new album by Asgeir. His first album was pretty amazing.
        There is always something new on Spotify to listen to!
        </p>
</section>

<footer class = "footer-section">
    <p> Say hi to me on these social networks</p>
    <ul class = "social">
        <li> <a href = "http://www.github.com">GitHub</a> </li>
        <li> <a href = "http://www.twitter.com">Twitter</a> </li>
        <li> <a href = "http://www.google.com">Google</a> </li>
    </ul>
    <p>Cover image via unsplash <a href "http://www.unsplash.com"> Unsplash</a></p>
</footer>


</html>
